/ControlGastos/target/
/ControlGastos/nbproject/
/Pruebas-Software-3f34206ed0b35bfd61e7e0b5b09bd7e70f017724/Pruebas-Software-3f34206ed0b35bfd61e7e0b5b09bd7e70f017724/Netbeans/SistemaDeControlDeGastosPersistencia/target/
/Pruebas-Software-3f34206ed0b35bfd61e7e0b5b09bd7e70f017724/Pruebas-Software-3f34206ed0b35bfd61e7e0b5b09bd7e70f017724/Netbeans/SistemaDeControlDeGastosPresentacion/target/
/ControlGastos/targetpit-reports/
